@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');
@import url('https://fonts.cdnfonts.com/css/kitschy-retro');

* {
  font-family: 'Anonymous Pro', sans-serif;
  box-sizing: border-box;

  --accent1: #F9E0BB;
  --accent2: #FFC26F;
  --accent3: #C38154;
  --accent4: #884A39;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

.navbar-badge {
  font-family: 'Kitschy Retro', sans-serif;
  font-size: 3em;
  margin-left: 20px;
}
